/* BODY */
.body-home h3{
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}

.body-home .search{
  width: 100%;
  max-width: 1500px;
  margin-bottom: 1.5rem ;
}

/* INPUT SEARCH */
.body-home .search input{
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  font-size: .9375rem;
  line-height: 1.5;
  width: 100%;

  border-radius: 0.25rem;
  border: 1px solid transparent;
  margin-bottom: 1rem;
  outline: none;
}

.body-home .search input:focus, .body-home .search input:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

/* BUTTON SEARCH */
.search .button-wrapper{
  display: flex;
  justify-content: center;
}

.search .button-wrapper .button{
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  text-align: center;
  font-size: .9375rem;
  line-height: 1.5;

  width: 40%;
  min-width: 8rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;

  background-color: rgb(55, 90, 127);
  border-color:rgb(55, 90, 127);
  color: rgb(255, 255, 255);
  cursor: pointer;

  transform: filter 0.2s;
}

.search .button-wrapper .button:hover{
  filter: brightness(0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}


/* CARDS-IMAGE-LIST WHEN width <= 767px */
.cards-image-list .card-image{
  width: 45%;
  min-width: 100px;
  border-radius: 5%;
  margin: 5px;
}


/* CARDS-TABLE-LIST WHEN width > 767px */
#card-table-list{
  border-spacing: 0px;
  max-width: 1500px;
  width: 100%;
}

#card-table-list td,
#card-table-list th {
  border: 0px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(68, 68, 68);
  padding: .3rem;
  height: 1.6rem;
  width: 50%;
  line-height: 22.5px;
  text-align: left;
  font-size: 15px;
  color: rgb(255, 255, 255);
}

#card-table-list tr:nth-child(even) {
  background-color: rgb(48, 48, 48);
}

#card-table-list tbody tr a{
  cursor: pointer;
  text-decoration: none;
  color:rgb(111, 183, 231)
}

#card-table-list tbody tr a:hover{
  text-decoration:underline;
}


/* TOOLTIP */
.tooltip{
  position: relative;
  display: inline-block;
}

.tooltip .tooltipimage {
  visibility: hidden;
  width: auto;
  background-color: rgb(48, 48, 48);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 3px 3px;
  border-radius: 6%;
  border:1px solid rgb(34, 34, 34);
  position: absolute;
  z-index: 1;
  border-radius: 1rem;

  top: -145px;
  left: 105%;
}

.tooltip:hover .tooltipimage {
  visibility: visible;
}


/* PAGINATION */
.pagination{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 5px;
  color: rgb(255, 255, 255);
}

.pagination .page-num {
  padding: 8px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}

.pagination .page-num:hover {
  background-color: rgb(111, 183, 231);
  color: rgb(255, 255, 255);
}

.active{
  background-color: rgb(111, 183, 231) ;
}


@media (max-width: 767px){
  .pagination .page-num {
    padding: 4px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
    font-size: smaller;
  }
}