.container {
    background-color: rgb(34, 34, 34); 
  }
  
  /* MAIN */
  main{
    max-width: 1500px;
    margin: 0 auto;
    min-height: 880px;
    padding: 5px 15px;
  }
  
  .fullSizeNav>a{
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }

  .fullSizeNav .cardSearchMenu{
   margin-right: 2rem;
  }


  .fullSizeNav>a:hover{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.705);
    text-decoration: underline;
  }

    /* FOOTER */
  .layout-bottom{
    min-height: 150px;
    background-color: rgb(70, 69, 72);
    padding: 15px;
    margin-top: 2rem;
  }

  .layout-bottom  h3{
    font-size: 26px;
    line-height: 21.6px;
    margin-bottom: 1rem;
    color: rgb(118, 74, 241);
  }
  
  .layout-bottom-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
  }

  .bottom-social .bottom-icons a{
    margin-right: 5px;
    font-size: 30px;
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    transition: filter 0.2s;
  }

  .bottom-social .bottom-icons a:hover{
    filter: brightness(0.7);    
  }

  /* SCROLLBAR */
  ::-webkit-scrollbar {
    width: 10px;
  }
 
  ::-webkit-scrollbar-thumb {
    background-color: rgb(48, 48, 48); 
    border-radius: 20px;     
  }

  *::-webkit-scrollbar-track {
    background: rgb(34, 34, 34);
  }

  
  @media (max-width: 767px){
    .layout-bottom{
      margin: 0 auto;
      width: 100%;
      margin-top: 2rem;
    }

    .layout-bottom-content{
      display: flex;
      flex-direction: column;
      max-width: 766px;
      margin: 0 auto;
      text-align: center;
    }

    .bottom-links{
      margin-right: 0;
    }

    .bottom-links h3{
      margin-top: 30px;
    }
  }