.container {
    background-color: #222222; 
  }
  
  /* HEADER */
  header {
    background: linear-gradient(to right, rgba(118, 74, 241, 1), rgba(118, 74, 241, .5));
    margin-bottom: 20px;
  }
  
  header .header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1500px;
    justify-content: space-between;
    padding: 0.25rem;
    align-items: center;
  }
  
  header img{
    display: block;
    width: 9.375rem;
    margin-right: 2rem;
  }
  

  /* MAIN */
  main{
    max-width: 1500px;
    margin: 0 auto;
    min-height: 880px;
    padding: 5px 15px;
  }
  

    /* FOOTER */
  .layout-bottom{
    min-height: 200px;
    background-color: #464548;
    padding: 15px;
    margin-top: 2rem;
  }

  .layout-bottom  h3{
    font-size: 26px;
    line-height: 21.6px;
    margin-bottom: 1rem;
    color: rgba(118, 74, 241, 1);
  }
  
  .layout-bottom-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
  }

  .bottom-social .bottom-icons a{
    margin-right: 5px;
    font-size: 30px;
    padding-bottom: 10px;
    /* justify-content: center; */
    color: #fff;
    transition: filter 0.2s;
  }

  .bottom-social .bottom-icons a:hover{
    filter: brightness(0.7);    
  }


  ::-webkit-scrollbar {
    width: 12px;
  }
 
  ::-webkit-scrollbar-thumb {
    background-color: #303030; 
    border-radius: 20px;     
  }

  *::-webkit-scrollbar-track {
    background: #222222;
  }

  @media (max-width: 1200px){
    
  }
  
  @media (max-width: 767px){
    .layout-bottom{
      margin: 0 auto;
      width: 100%;
      margin-top: 2rem;
    }

    .layout-bottom-content{
      display: flex;
      flex-direction: column;
      max-width: 767px;
      margin: 0 auto;
      text-align: center;
    }

    .bottom-links{
      margin-right: 0;
    }

    .bottom-links h3{
      margin-top: 30px;
    }
  }